{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faculty list</h1>

    <table class="table table-striped">
        <thead>
            <tr>

                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faculty in faculties %}
            <tr>

                <td>{{ faculty.firstname }}</td>
                <td>{{ faculty.lastname }}</td>
                <td>{{ faculty.email }}</td>
                <td>{{ faculty.phone }}</td>
                <td>{{ faculty.notes }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
